/* font */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url('/webadmin/fonts/noto-light/notokr-light.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('/webadmin/fonts/noto-light/notokr-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/webadmin/fonts/noto-light/notokr-light.woff2') format('woff2'), /* Super Modern Browsers */
        url('/webadmin/fonts/noto-light/notokr-light.woff') format('woff'), /* Modern Browsers */
        url('/webadmin/fonts/noto-light/notokr-light.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/webadmin/fonts/noto-light/notokr-light.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('/webadmin/fonts/noto-regular/notokr-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('/webadmin/fonts/noto-regular/notokr-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/webadmin/fonts/noto-regular/notokr-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('/webadmin/fonts/noto-regular/notokr-regular.woff') format('woff'), /* Modern Browsers */
        url('/webadmin/fonts/noto-regular/notokr-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/webadmin/fonts/noto-regular/notokr-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url('/webadmin/fonts/noto-medium/notokr-medium.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('/webadmin/fonts/noto-medium/notokr-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/webadmin/fonts/noto-medium/notokr-medium.woff2') format('woff2'), /* Super Modern Browsers */
        url('/webadmin/fonts/noto-medium/notokr-medium.woff') format('woff'), /* Modern Browsers */
        url('/webadmin/fonts/noto-medium/notokr-medium.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/webadmin/fonts/noto-medium/notokr-medium.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url('/webadmin/fonts/noto-bold/notokr-bold.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('/webadmin/fonts/noto-bold/notokr-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/webadmin/fonts/noto-bold/notokr-bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('/webadmin/fonts/noto-bold/notokr-bold.woff') format('woff'), /* Modern Browsers */
        url('/webadmin/fonts/noto-bold/notokr-bold.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/webadmin/fonts/noto-bold/notokr-bold.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url('/webadmin/fonts/noto-black/notokr-black.eot'); /* IE9 Compat Modes */
    src: local(''),
        url('/webadmin/fonts/noto-black/notokr-black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/webadmin/fonts/noto-black/notokr-black.woff2') format('woff2'), /* Super Modern Browsers */
        url('/webadmin/fonts/noto-black/notokr-black.woff') format('woff'), /* Modern Browsers */
        url('/webadmin/fonts/noto-black/notokr-black.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/webadmin/fonts/noto-black/notokr-black.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}